<?xml version="1.0" encoding="utf-8"?>

<!-- 该xacro将智元agibot_d1与苏研院上装拼接 -->

<robot name="edu_top" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find agibot_d1_top_description)/urdf/edu.urdf" />
	<xacro:include filename="$(find agibot_d1_top_description)/urdf/top.urdf" />

	<joint name="edu_to_top_bridge" type="fixed">
		<origin xyz="-0.009 0 0.0748" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="base_link_top" />
	</joint>
</robot>
