<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="top.SLDASM">
  <link
    name="base_link_top">
    <inertial>
      <origin
        xyz="-0.00122226235552857 -0.000467107716158377 0.0309617057677886"
        rpy="0 0 0" />
      <mass
        value="0.611532948218259" />
      <inertia
        ixx="0.00155367992039115"
        ixy="-1.20629617570148E-05"
        ixz="-0.000224639661522976"
        iyy="0.0093601515545899"
        iyz="-1.42870836289828E-06"
        izz="0.0107713224079768" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agibot_d1_top_description/meshes/base_link_top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agibot_d1_top_description/meshes/base_link_top.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="-0.00158253452380214 -0.000170897047785521 0.00376068086841437"
        rpy="0 0 0" />
      <mass
        value="0.0435650266372366" />
      <inertia
        ixx="3.24651418616759E-05"
        ixy="6.15131595560488E-09"
        ixz="-9.12826140442347E-08"
        iyy="5.27770165267489E-06"
        iyz="-4.87723053546618E-08"
        izz="3.24838603946734E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agibot_d1_top_description/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agibot_d1_top_description/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base2camera"
    type="fixed">
    <origin
      xyz="0.259865272236245 -0.000175354909562065 0.0221539668257328"
      rpy="0 0.37329350744933 0" />
    <parent
      link="base_link_top" />
    <child
      link="camera" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="laser">
    <inertial>
      <origin
        xyz="-4.75442259659231E-05 -1.69871941643331E-06 -0.0225207252724426"
        rpy="0 0 0" />
      <mass
        value="0.0771702506647642" />
      <inertia
        ixx="5.8741133333274E-05"
        ixy="-5.23355074167588E-09"
        ixz="1.87253289703397E-08"
        iyy="5.97370887878274E-05"
        iyz="4.58870966632381E-09"
        izz="0.000109099582432989" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agibot_d1_top_description/meshes/laser.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agibot_d1_top_description/meshes/laser.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base2laser"
    type="fixed">
    <origin
      xyz="0.214977720461217 -0.000131573364917187 0.0815264123297748"
      rpy="0 0.37329350744933 0" />
    <parent
      link="base_link_top" />
    <child
      link="laser" />
    <axis
      xyz="0 8.14816403688161E-05 0.999999996680371" />
  </joint>

  <link
    name="front_camera">
  </link>

  <joint
    name="front_camera_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera" />
    <child
      link="front_camera" />
  </joint>

  <link
    name="laser_up">
  </link>

  <joint
    name="laser_up_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="laser" />
    <child
      link="laser_up" />
  </joint>

  <gazebo>
    <plugin
      filename="ignition-gazebo-sensors-system"
      name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

  <gazebo reference="laser_up">
    <sensor name="scan" type="gpu_lidar">
      <topic>scan</topic>
      <update_rate>10</update_rate>
      <pose>0 0 0 0 0 0</pose>

      <lidar>
        <scan>
          <horizontal>
            <samples>640</samples>
            <resolution>1</resolution>
            <min_angle>-3.1415926</min_angle>
            <max_angle>3.1415926</max_angle>
          </horizontal>
          <vertical>
            <samples>32</samples>
            <resolution>1</resolution>
            <min_angle>-0.261799</min_angle>
            <max_angle>0.4</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.08</min>
          <max>20.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <alwaysOn>1</alwaysOn>
      <visualize>true</visualize>
      <ignition_frame_id>laser_up</ignition_frame_id>
    </sensor>
  </gazebo>

  <gazebo reference="front_camera">
    <sensor name="depth_camera" type="depth_camera">
      <ignition_frame_id>front_camera</ignition_frame_id>
      <update_rate>10</update_rate>
      <topic>/depth_camera</topic>
      <camera>
        <horizontal_fov>1.05</horizontal_fov>
        <image>
          <width>256</width>
          <height>256</height>
          <format>R_FLOAT32</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      <alwaysOn>1</alwaysOn>
    </sensor>
  </gazebo>

  <gazebo reference="front_camera">
    <sensor name="camera_link" type="camera">
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>320</width>
          <height>240</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <always_on>true</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>/image_raw</topic>
      <ignition_frame_id>front_camera</ignition_frame_id>
    </sensor>
  </gazebo>
</robot>